// 定义深色模式变量
:root {
  --vp-c-bg: #1e1e1e; // 背景色
  --vp-c-text-1: #e0e0e0; // 主要文本颜色
  --vp-c-text-2: #a0a0a0; // 次要文本颜色
  --vp-c-divider: #444; // 分隔线颜色
  --vp-c-bg-soft: #252525; // 柔和背景色
  --vp-c-bg-alt: #2d2d2d; // 交替背景色
  --vp-c-brand: #646cff; // 品牌色
  --vp-c-brand-rgb: 100, 108, 255; // 品牌色 RGB 值
  --vp-c-white: #ffffff; // 白色
  --vp-gradient-1: linear-gradient(120deg, #bd34fe, #41d1ff); // 渐变颜色
}

// 定义浅色模式变量
[data-theme="light"] {
  --vp-c-bg: #ffffff; // 背景色
  --vp-c-text-1: #2c3e50; // 主要文本颜色
  --vp-c-text-2: #666666; // 次要文本颜色
  --vp-c-divider: #e0e0e0; // 分隔线颜色
  --vp-c-bg-soft: #f5f5f5; // 柔和背景色
  --vp-c-bg-alt: #eeeeee; // 交替背景色
}

// 全局样式
html,
body {
  background-color: var(--vp-c-bg); // 设置 html 和 body 背景色为深色
  margin: 0;
  padding: 0;
  height: 100%; // 确保 body 高度占满整个屏幕
}
#taro-navigation-bar,
#app,
#app > div {
  background: var(--vp-c-bg) !important;
}
